/* Generic styles for all Toolbelt applications */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

:root
{
    --paper: #F9F8EB;
    --block: #E2E1D6;
    --ink: #1A1A1A;
    --accent: #7D7C76;
    --highlight: #FDFD4E;
}

body
{
  margin: 0;

  background-color: var(--paper);
  color: var(--ink);

  font-family: "Noto Sans Mono", monospace;
  font-size: 18px;
}

.page{max-width: 8.5in;}

main
{
  margin: auto;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
}

header
{
  border-bottom: 2px solid var(--accent);
  margin-bottom: 1em;
  padding: 0.5em;
}
header *
{
  margin: 0;
}

h1,h2,h3,h4,h5,h6
{
  margin: 0;
}

h6{ font-size: 0.8em;}
h5{ font-size: 1.0em;}
h4{ font-size: 1.2em;}
h3{ font-size: 1.4em;}
h2{ font-size: 1.6em;}
h1{ font-size: 1.8em;}

strong, em, del, mark, code, u
{
  font-size: 1em;
}

mark
{
  padding: 2px 5px;
  border-radius: 5px;
  background-color: var(--highlight);
}

code
{
  background-color: var(--block);

  padding: 3px 5px;
  border-radius: 5px;

  box-shadow: 
    inset -1px -1px 0 rgba(255, 255, 255, 0.7),
    inset  1px  1px 0 rgba(0, 0, 0, 0.15);
}

pre code
{
  padding: 1em;
  margin: 0.5em;
}

ul,ol{margin: 0.5em;}

ol
{
  padding-left: 2.5em;
}
ul
{
  padding-left: 1.7em;
}

.left
{
  float: left;
  overflow: hidden;
}

.right
{
  float: right;
  width: calc(34.8 * 4);
}

a
{
  text-decoration: none;
}

a:hover
{
  stroke: #1A1A1A;
  stroke-width: 1em;
}

a svg, a img
{
  vertical-align: middle;
}


textarea
{
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 0.5em;
  background-color: #F2F2F2;
  font-family: "Noto Sans Mono", monospace;
  font: 16px;
  color: #1A1A1A;
  border-color: #1A1A1A;
  margin: 0;
  resize: none;
}

textarea:focus
{
  outline: none;
}

#markdown
{
  display: none;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 0.5em;
  border: 2px solid #1A1A1A;
  overflow-y: scroll;
  
  font-family: "Noto Sans Mono", monospace;
  font: 16px;
  color: #1A1A1A;
  margin: 0;
}

blockquote
{
  border-left: 2px solid #1A1A1A;
  padding-left: 0.5em;
}

table
{
  border: 2px solid;
  border-collapse: collapse;
}

th,td
{ 
  border: 2px solid;
  padding: 0.5em;
}

img
{
max-width: 100%;
}


@media print{
  body{
    visibility: hidden
  }
  textarea,#markdown{
    overflow: visible;
    visibility: visible;
    border: none;
    position: absolute;
    top: 0;
    left: 0;

    background-color: white;
    color: black;
  }
}

