/* Generic styles for all Toolbelt applications */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght,MONO@0,300..800,1;1,300..800,1&family=Lexend:wght@100..900');

:root
{
    --paper: #F9F8EB;
    --block: #E2E1D6;
    --ink: #18191b;
    --accent: #7D7C76;
    --highlight: #FDFD4E;
    --link: #1F85EF;
    --pad: #FCFCF5;
}

body
{
  margin: 0;

  background-color: var(--paper);
  color: var(--ink);

  font-family: "Lexend", sans-serif;
  font-size: 18px;
}

.page{max-width: 8.5in;}

main
{
  margin: auto;
  padding: 0.5em 1em 1em 1em;
  display: flex;
  flex-direction: column;
}

header
{
  border-bottom: 2px solid var(--accent);
  margin-bottom: 1em;
  padding: 0.5em;
}
header *
{
  margin: 0;
}

h1,h2,h3,h4,h5,h6
{
  margin: 0.5em 0.2em 0.5em 0.2em;
}

h6{ font-size: 0.8em;}
h5{ font-size: 1.0em;}
h4{ font-size: 1.2em;}
h3{ font-size: 1.4em;}
h2{ font-size: 1.6em;}
h1{ font-size: 1.8em;}

p
{
  text-indent: 4ch;
  line-height: 2em;
}

strong, em, del, mark, code, u
{
  font-size: 1em;
}

mark
{
  padding: 2px 5px;
  border-radius: 5px;
  background-color: var(--highlight);
}

code
{
  background-color: var(--block);

  padding: 0px 0.5em;
  border-radius: 5px;
  display: inline-block;
  text-indent: 0;

  box-shadow: 
    inset -1px -1px 0 rgba(255, 255, 255, 0.7),
    inset  1px  1px 0 rgba(0, 0, 0, 0.15);

  font-family: 'Google Sans Code', monospace;
}

pre code
{
  padding: 1em;
  margin: 0.5em;
}

ul,ol{margin: 0.5em;}

a
{
  text-decoration: none;
  color: var(--link)
}
a:hover
{
  text-decoration: underline;
}
a svg, a img
{
  vertical-align: middle;
}


.editable, input, textarea
{
  padding: 0.5em;
  background-color: var(--pad);
  font-family: inherit;
  font: 16px;
  color: var(--ink);
  border-color: var(--ink);
  margin: 0.5em;
  resize: none;
}
textarea:focus, input:focus, .editable:focus
{
  outline: none;
}

label
{
  font-size: 0.8em;
  margin-left: 1em;
}

blockquote
{
  border-left: 2px solid var(--ink);
  padding-left: 0.5em;
  text-indent: 1em;
}

table
{
  border: 2px solid;
  border-collapse: collapse;
}
thead
{
  background-color: var(--block);
}
th,td
{ 
  border: 2px solid;
  padding: 0.5em;
}
tr:nth-of-type(even){
  background-color: var(--block);
}

img
{
  width: fit-content;
  max-width: 100%;

  margin: 1em;
}

hr
{
  border: 1px solid var(--ink);
  margin: 1em;
}

.left
{
  float: left;
  overflow: hidden;
}

.right
{
  float: right;
  width: calc(34.8 * 4);
}

.center
{
  margin-left: auto;
  margin-right: auto;
}


@media print
{
  header,footer
  {
    display: none;
  }
  main
  {
    overflow: visible;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    color: black;
  }
  code
  {
    border: 1px solid black;
  }
  a
  {
    text-decoration: underline;
  }
}

